* {
    font-family: 'Roboto';
}

:root {
    --main-site-color: rgb(35, 140, 200);
}

a {
    color: black;
}

html {
    scroll-padding-top: 45px;
}


/* ----------------------------------------------------------- */


/* ---------------NAV bar-------------------------------------------- */

.bg-custom {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
    position: relative;
}

.brand-custem {
    line-height: 33.6px;
    letter-spacing: 1px;
    font-size: 28px;
}

.navbar .nav-link {
    color: rgb(255, 255, 255);
}

.navbar .nav-link.active {
    color: var(--main-site-color);
}

.navbar-nav .nav-link:hover {
    color: var(--main-site-color);
}

.navbar-toggler i {
    color: white;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px var(--main-site-color);
    i {
        color: var(--main-site-color);
    }
}


/* --------------END  NAV-bar-------------------------------------------- */


/* ----------------------------------------------------------- */

#ABOUT .about-details>p,
#foot-work .imgtag>p {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ser-logo>p,
.portfolio-logo>p,
.blog-logo>p {
    position: relative;
}

.ser-logo>p::after,
.portfolio-logo>p::after,
.blog-logo>p::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 3rem;
    height: .3rem;
    background-color: #0078ff;
}


/* ---------------------------------card services------------------------------------------- */

.circle-icon {
    height: 120px;
    width: 120px;
}

.circle-icon .buttoon {
    background: #ffffff;
    z-index: 9;
    height: 86%;
    width: 86%;
    border-radius: 50%;
}

.circle-icon span {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.card-item:hover .buttoon i {
    color: rgb(255, 255, 255);
    background-color: black;
}

.card-item:hover .circle-icon span:nth-child(1) {
    background-color: rgb(0, 0, 0);
}

.card-item:hover .circle-icon span:nth-child(2) {
    filter: blur(7px);
}

.card-item:hover .circle-icon span:nth-child(3) {
    filter: blur(14px);
}

.card-item:hover .circle-icon {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


/* -------------------------------end--card services------------------------------------------- */


/* ----------------------------end-----card services------------------------------------------- */

#WORK .add-link-icon span::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: blue;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
}

#WORK .add-link-icon span::before {
    content: '';
    width: 3px;
    height: 23px;
    background-color: blue;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.portfolio-card .middle-blog-card a:hover,
.portfolio-card .tail-blog-left-side:hover a {
    color: #0078ff;
    transition: all .5s ease-in;
}

#CONTACT h5::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0%;
    width: 6rem;
    height: .2rem;
    background-color: #0078ff;
}

#CONTACT button:hover {
    background-color: #2c8eff !important;
    box-shadow: 0px 0px 6px #737b83;
    transition: all .3s;
}


/* ----------------drobdown hover-------------------------- */

.navbar .vip {
    position: relative;
}

.navbar .vip:hover .vip-menu {
    display: block!important;
    z-index: 99999;
    position: absolute;
    top: 40px;
}

.navbar .vip .vip-menu a:hover {
    color: blue!important;
}

.navbar .vip .vip-menu a:hover::after {
    width: 0;
}

.navbar .vip2 {
    position: relative;
}

.navbar .vip2:hover .vip2-menu {
    display: block!important;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 100%;
}


/* ==========nav&tabs=================== */

.nav-tabs .nav-link {
    font-size: 1rem;
    font-weight: 700;
}

.nav-tabs .nav-link.active {
    color: rgb(43, 141, 226);
    background-color: transparent;
    border-color: rgb(226, 43, 208);
}